# Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [1]:
# # Attempting multi-core processing
# import ipyparallel as ipp
# rc = ipp.Client()
# with rc[:].sync_imports():
#     import bs_ds.bs_ds as bs
#     import bs_ds.bamboo as bb

In [2]:
# rc.ids
# dview=rc[:]

# OSEMN Model
1. **OBTAIN:**
    - **Import data, inspect, check for datatypes to convert and null values**<br>
        - Display header and info
        - Drop any unneeded columns (df.drop(['col1','col2'],axis=1)

2. **SCRUB: cast data types, identify outliers, check for multicollinearity, normalize data**<br>
    - Check and cast data types
        - [x] Check for #'s that are store as objects (df.info())
            - when converting to #'s, look for odd values (like many 0's), or strings that can't be converted
            - Decide how to deal weird/null values (df.unique(), df.isna().sum(), df.describe()-min/max, etc
        - [x]  Check for categorical variables stored as integers
    - [x] Check for missing values  (df.isna().sum())
        - Can drop rows or colums
        - For missing numeric data with median or bin/convert to categorical
        - For missing categorical data: make NaN own category OR replace with most common category
    - [x] Check for multicollinearity
        - Good rule of thumb is anything over 0.75 corr is high, remove the variable that has the most correl with the largest # of variables
    - [ ] Normalize data (may want to do after some exploring)
        - Most popular is Z-scoring (but won't fix skew) 
        - Can log-transform to fix skewed data
    
            
3. **EXPLORE:Check distributions, outliers, etc**
    - [ ] Check scales, ranges (df.describe())
    - [ ] Check histograms to get an idea of distributions (df.hist()) and dat transformations to perform
        - Can also do kernel density estimates
    - [ ] Use scatterplots to check for linearity and possible categorical variables (df.plot(kind-'scatter')
        - categoricals will look like vertical lines
    - [ ] Use pd.plotting.scatter_matrix to visualize possible relationships
    - [ ] Check for linearity

   
4. **FIT AN INITIAL MODEL:** 
    - Various forms, detail later...
    - **Assessing the model:**
        - Assess parameters (slope,intercept)
        - Check if the model explains the variation in the data (RMSE, F, R_square)
        - *Are the coeffs, slopes, intercepts in appropriate units?*
        - *Whats the impact of collinearity? Can we ignore?*
5. **Revise the fitted model**
    - Multicollinearity is big issue for lin regression and cannot fully remove it
    - Use the predictive ability of model to test it (like R2 and RMSE)
    - Check for missed non-linearity
6. **Holdout validation / Train/test split**
    - use sklearn train_test_split 
___

In [3]:
from bs_ds.bamboo import *
# import bs_ds as bs

View our documentation at https://bs-ds.readthedocs.io/en/latest/bs_ds.html
For convenient loading of standard modules :
>> from bs_ds.imports import *

In [4]:
big_pandas()
ignore_warnings()

display.max_columns=None
display.expand_frame_repr=False
display.max_rows=None
display.precision=4

# Iowa Prisoner Recidivism Data

- Source: https://www.kaggle.com/slonnadube/recidivism-for-offenders-released-from-prison
- **Statistics about recidivism in prisoners from a 3 year prisoner**
- **Target:**
    - Recidivism - Return to Prison
- **Features:**
    - Fiscal Year Released
    - Recidivism Reporting Year
    - Race - Ethnicity
    - Age At Release
    - Convicting Offense Classification
    - Convicting Offense Type
    - Convicting Offense Subtype
    - Main Supervising District
    - Release Type
    - Release type: Paroled to Detainder united
    - Part of Target Population

**From Kaggle Listing:**
>For recidivism prediction the full dataset containing 26021 records was used. The name of the data set is: "3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa_elaborated". All the variables related to recidivism were excluded from the dataset, except the response variable: 'Recidivism - return to prison'. The response variable was turned into a numeric vector of (0,1), where 1 means 'yes recidivism' and 0 means 'no recidivism'. 
Other variables related to recidivism were of course not used in the predictive analysis. There are 26021 records in this dataset.

> Another dataset was constructed using the initial one. This dataset is called 'prison_recidivists_with_recidivism_type_only'. It contains the records of those recidivists from the initial file for whom the type of recidivism has been recorded and documented.

> This one done in order to enable the comparison between the seriousness of the initial offense and the type of recidivism. Therefore, only the records containing both types were left in this dataset, and the rest were filtered out. The second dataset containing data recidivists only is comprised of 6718 records.

<img src="https://raw.githubusercontent.com/jirvingphd/dsc-3-final-project-online-ds-ft-021119/master/districtmap09122014.jpg" width=800>

### **The variables in the data set:**

- Fiscal Year Released Fiscal year (year ending June 30) for which the offender was released from prison.

- Recidivism Reporting Year 
    - Fiscal year (year ending June 30) that marks the end of the 3-year tracking period. For example, offenders exited prison in FY 2012 are found in recidivism reporting year FY 2015.

- Race - Ethnicity 
    - Offender's Race and Ethnicity

- Convicting Offense Classification 
    - Maximum penalties: A Felony = Life; B Felony = 25 or 50 years; C Felony = 10 years; D Felony = 5 years; Aggravated Misdemeanor = 2 years; Serious Misdemeanor = 1 year; Simple Misdemeanor = 30 days

- Convicting Offense Type General category for the most serious offense for which the offender was placed in prison.

- Convicting Offense Subtype 
    - Further classification of the most serious offense for which the offender was placed in prison.

- Release Type 
    - Reasoning for Offender's release from prison.

- Main Supervising District 
    - The Judicial District supervising the offender for the longest time during the tracking period.

- Recidivism - Return to Prison 
    - No = No Recidivism; Yes = Prison admission for any reason within the 3-year tracking period

- Days to Recidivism 
    - Number of days it took before the offender returned to prison.

- New Conviction Offense Classification The same as the initial offense classification.

- New Conviction Offense Type The same as the initial offense type.

- New Conviction Offense Sub Type The same as the initial offense subtype.

- Part of Target Population 
    - The Department of Corrections has undertaken specific strategies to reduce recidivism rates for prisoners who are on parole and are part of the target population.
    ___

In [5]:
# Importing custom-library of functions.
# from bs_ds.bamboo import *
import bs_ds
from bs_ds.imports import *

                  Module/Package Handle
pandas                               pd
numpy                                np
matplotlib                          mpl
matplotlib.pyplot                   plt
seaborn                             sns

## Loading in the Dataset

In [6]:
# Dataset Links
mike_csv ='3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa.csv'
# all_prisoners_url = 'https://raw.githubusercontent.com/jirvingphd/dsc-3-final-project-online-ds-ft-021119/master/dataset/3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa_elaborated.csv'
all_prisoners_file = "datasets/3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa_elaborated.csv"
full_all_prisoners_file = "datasets/FULL_3-Year_Recidivism_for_Offenders_Released_from_Prison_in_Iowa.csv"
# only_repeat_criminals_w_new_crime_url = "https://raw.githubusercontent.com/jirvingphd/dsc-3-final-project-online-ds-ft-021119/master/dataset/prison_recidivists_with_recidivism_type_only.csv"
only_repeat_criminals_w_new_crime_file= "datasets/prison_recidivists_with_recidivism_type_only.csv"

In [7]:
# Will be using the all_prisoners file to predict recidivism
df = pd.read_csv(mike_csv)

In [8]:
from bs_ds.bamboo import inspect_df, check_null, check_unique, check_column, check_numeric
inspect_df(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 17 columns):
Fiscal Year Released                     26020 non-null int64
Recidivism Reporting Year                26020 non-null int64
Race - Ethnicity                         25990 non-null object
Age At Release                           26017 non-null object
Convicting Offense Classification        26020 non-null object
Convicting Offense Type                  26020 non-null object
Convicting Offense Subtype               26020 non-null object
Release Type                             24258 non-null object
Main Supervising District                16439 non-null object
Recidivism - Return to Prison            26020 non-null object
Days to Recidivism                       8681 non-null float64
New Conviction Offense Classification    6718 non-null object
New Conviction Offense Type              6718 non-null object
New Conviction Offense Sub Type          6699 non-null object
Part of Target Population                26020 non-null object
Recidivism Type                          26020 non-null object
Sex                                      26017 non-null object
dtypes: float64(1), int64(2), object(14)
memory usage: 3.4+ MB

None

       Fiscal Year Released  Recidivism Reporting Year  Days to Recidivism
count            26020.0000                 26020.0000           8681.0000
mean              2012.6008                  2015.6008            469.9315
std                  1.6610                     1.6610            282.3034
min               2010.0000                  2013.0000              0.0000
25%               2011.0000                  2014.0000            238.0000
50%               2013.0000                  2016.0000            418.0000
75%               2014.0000                  2017.0000            682.0000
max               2015.0000                  2018.0000           1095.0000

---------------------------------------------------

# of Identified Numeric Values in "Object" columns:

Empty DataFrame
Columns: [Numeric values, Total Values, Percent]
Index: []

----------------------------

# of Identified Null Values:

                                       Null values  Total Values  Percent
Column
Fiscal Year Released                             0         26020    0.000
Recidivism Reporting Year                        0         26020    0.000
Race - Ethnicity                                30         26020    0.115
Age At Release                                   3         26020    0.012
Convicting Offense Classification                0         26020    0.000
Convicting Offense Type                          0         26020    0.000
Convicting Offense Subtype                       0         26020    0.000
Release Type                                  1762         26020    6.772
Main Supervising District                     9581         26020   36.822
Recidivism - Return to Prison                    0         26020    0.000
Days to Recidivism                           17339         26020   66.637
New Conviction Offense Classification        19302         26020   74.181
New Conviction Offense Type                  19302         26020   74.181
New Conviction Offense Sub Type              19321         26020   74.254
Part of Target Population                        0         26020    0.000
Recidivism Type                                  0         26020    0.000
Sex                                              3         26020    0.012

   Fiscal Year Released  Recidivism Reporting Year      Race - Ethnicity Age At Release  Convicting Offense Classification Convicting Offense Type Convicting Offense Subtype                  Release Type Main Supervising District Recidivism - Return to Prison  Days to Recidivism New Conviction Offense Classification New Conviction Offense Type New Conviction Offense Sub Type Part of Target Population Recidivism Type   Sex
0                  2010                       2013  Black - Non-Hispanic           25-34                          C Felony                 Violent                    Robbery                        Parole                       7JD                           Yes               433.0                              C Felony                        Drug                     Trafficking                       Yes             New  Male
1                  2010                       2013  White - Non-Hispanic           25-34                          D Felony                Property                      Theft  Discharged – End of Sentence                       NaN                           Yes               453.0                                   NaN                         NaN                             NaN                        No            Tech  Male
2                  2010                       2013  White - Non-Hispanic           35-44                          B Felony                    Drug                Trafficking                        Parole                       5JD                           Yes               832.0                                   NaN                         NaN                             NaN                       Yes            Tech  Male

**Any columns that are about New Convictions or days to recidivism should be dropped for our initial model predicting recidivism.**
- "New..", "Days to Recividism"

In [9]:
from bs_ds.bamboo import drop_cols
df = drop_cols(df, ['New','Days','Recidivism Type'])

Removed New.
Removed Days.
Removed Recidivism Type.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 12 columns):
Fiscal Year Released                 26020 non-null int64
Recidivism Reporting Year            26020 non-null int64
Race - Ethnicity                     25990 non-null object
Age At Release                       26017 non-null object
Convicting Offense Classification    26020 non-null object
Convicting Offense Type              26020 non-null object
Convicting Offense Subtype           26020 non-null object
Release Type                         24258 non-null object
Main Supervising District            16439 non-null object
Recidivism - Return to Prison        26020 non-null object
Part of Target Population            26020 non-null object
Sex                                  26017 non-null object
dtypes: int64(2), object(10)
memory usage: 2.4+ MB

In [11]:
inspect_df(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 12 columns):
Fiscal Year Released                 26020 non-null int64
Recidivism Reporting Year            26020 non-null int64
Race - Ethnicity                     25990 non-null object
Age At Release                       26017 non-null object
Convicting Offense Classification    26020 non-null object
Convicting Offense Type              26020 non-null object
Convicting Offense Subtype           26020 non-null object
Release Type                         24258 non-null object
Main Supervising District            16439 non-null object
Recidivism - Return to Prison        26020 non-null object
Part of Target Population            26020 non-null object
Sex                                  26017 non-null object
dtypes: int64(2), object(10)
memory usage: 2.4+ MB

None

       Fiscal Year Released  Recidivism Reporting Year
count            26020.0000                 26020.0000
mean              2012.6008                  2015.6008
std                  1.6610                     1.6610
min               2010.0000                  2013.0000
25%               2011.0000                  2014.0000
50%               2013.0000                  2016.0000
75%               2014.0000                  2017.0000
max               2015.0000                  2018.0000

---------------------------------------------------

# of Identified Numeric Values in "Object" columns:

Empty DataFrame
Columns: [Numeric values, Total Values, Percent]
Index: []

----------------------------

# of Identified Null Values:

                                   Null values  Total Values  Percent
Column
Fiscal Year Released                         0         26020    0.000
Recidivism Reporting Year                    0         26020    0.000
Race - Ethnicity                            30         26020    0.115
Age At Release                               3         26020    0.012
Convicting Offense Classification            0         26020    0.000
Convicting Offense Type                      0         26020    0.000
Convicting Offense Subtype                   0         26020    0.000
Release Type                              1762         26020    6.772
Main Supervising District                 9581         26020   36.822
Recidivism - Return to Prison                0         26020    0.000
Part of Target Population                    0         26020    0.000
Sex                                          3         26020    0.012

   Fiscal Year Released  Recidivism Reporting Year      Race - Ethnicity Age At Release  Convicting Offense Classification Convicting Offense Type Convicting Offense Subtype                  Release Type Main Supervising District Recidivism - Return to Prison Part of Target Population   Sex
0                  2010                       2013  Black - Non-Hispanic           25-34                          C Felony                 Violent                    Robbery                        Parole                       7JD                           Yes                       Yes  Male
1                  2010                       2013  White - Non-Hispanic           25-34                          D Felony                Property                      Theft  Discharged – End of Sentence                       NaN                           Yes                        No  Male
2                  2010                       2013  White - Non-Hispanic           35-44                          B Felony                    Drug                Trafficking                        Parole                       5JD                           Yes                       Yes  Male

### Save original names vs short names in column_legend
- then map names onto columns

In [12]:
colnames_orig = df.columns
colnames_orig

Index(['Fiscal Year Released', 'Recidivism Reporting Year', 'Race - Ethnicity',
       'Age At Release ', 'Convicting Offense Classification',
       'Convicting Offense Type', 'Convicting Offense Subtype', 'Release Type',
       'Main Supervising District', 'Recidivism - Return to Prison',
       'Part of Target Population', 'Sex'],
      dtype='object')

In [13]:
colnames_short = ('yr_released','report_year','race_ethnicity','age_released','crime_class','crime_type','crime_subtype','release_type','super_dist','recidivist','target_pop','sex')

column_legend = dict(zip(colnames_orig,colnames_short))
column_legend

{'Fiscal Year Released': 'yr_released',
 'Recidivism Reporting Year': 'report_year',
 'Race - Ethnicity': 'race_ethnicity',
 'Age At Release ': 'age_released',
 'Convicting Offense Classification': 'crime_class',
 'Convicting Offense Type': 'crime_type',
 'Convicting Offense Subtype': 'crime_subtype',
 'Release Type': 'release_type',
 'Main Supervising District': 'super_dist',
 'Recidivism - Return to Prison': 'recidivist',
 'Part of Target Population': 'target_pop',
 'Sex': 'sex'}

In [14]:
# Rename df with shorter names
df.rename(mapper=column_legend,axis=1,inplace=True)
df.head()

   yr_released  report_year        race_ethnicity age_released crime_class crime_type   crime_subtype                  release_type super_dist recidivist target_pop   sex
0         2010         2013  Black - Non-Hispanic        25-34    C Felony    Violent         Robbery                        Parole        7JD        Yes        Yes  Male
1         2010         2013  White - Non-Hispanic        25-34    D Felony   Property           Theft  Discharged – End of Sentence        NaN        Yes         No  Male
2         2010         2013  White - Non-Hispanic        35-44    B Felony       Drug     Trafficking                        Parole        5JD        Yes        Yes  Male
3         2010         2013  White - Non-Hispanic        25-34    B Felony      Other  Other Criminal                        Parole        6JD         No        Yes  Male
4         2010         2013  Black - Non-Hispanic        35-44    D Felony    Violent         Assault  Discharged – End of Sentence        NaN        Yes         No  Male

### Investigating Values for Each Object Column and Determining How to Handle

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26020 entries, 0 to 26019
Data columns (total 12 columns):
yr_released       26020 non-null int64
report_year       26020 non-null int64
race_ethnicity    25990 non-null object
age_released      26017 non-null object
crime_class       26020 non-null object
crime_type        26020 non-null object
crime_subtype     26020 non-null object
release_type      24258 non-null object
super_dist        16439 non-null object
recidivist        26020 non-null object
target_pop        26020 non-null object
sex               26017 non-null object
dtypes: int64(2), object(10)
memory usage: 2.4+ MB

## ADDRESSING NULL VALUES
### Checking Null Values

In [16]:
check_null(df)

----------------------------

# of Identified Null Values:

                Null values  Total Values  Percent
Column
yr_released               0         26020    0.000
report_year               0         26020    0.000
race_ethnicity           30         26020    0.115
age_released              3         26020    0.012
crime_class               0         26020    0.000
crime_type                0         26020    0.000
crime_subtype             0         26020    0.000
release_type           1762         26020    6.772
super_dist             9581         26020   36.822
recidivist                0         26020    0.000
target_pop                0         26020    0.000
sex                       3         26020    0.012

**Results of Null Check**
- race_ethnicity has 30 (0.12% of data)
    -  drop
- age_released has 3 (0.01% of data)
    - drop
- sex has 3 (0.01% of data)
    - drop
- super_district has 9581(36.82% of data)
    - replace
    - with...
- release_type has 1762 (6.77% of data)
    - drop

    
### Checking Columns with Nulls to Replace to Decide Method

In [17]:
# Dropping null values from 'age_at_release','race_ethnicity'
df.dropna(subset=['age_released','race_ethnicity','sex','release_type'],inplace=True)

In [18]:
check_null(df)

----------------------------

# of Identified Null Values:

                Null values  Total Values  Percent
Column
yr_released               0         24225    0.000
report_year               0         24225    0.000
race_ethnicity            0         24225    0.000
age_released              0         24225    0.000
crime_class               0         24225    0.000
crime_type                0         24225    0.000
crime_subtype             0         24225    0.000
release_type              0         24225    0.000
super_dist             7787         24225   32.144
recidivist                0         24225    0.000
target_pop                0         24225    0.000
sex                       0         24225    0.000

**Results of Null Check**
- super_district has 9549(36.75% of data)
    - replace
    - with 'unknown'
- release_type has 1762 (6.78% of data)
    - replace  (_could_ consider dropping)
    - with 'unknown'

In [19]:
check_unique(df, columns=['super_dist','release_type']) #,'target_pop','crime_type','crime_class'])

---------------------------

super_dist Type: object
Number unique values: 10.

                    super_dist
5JD                       4982
1JD                       2787
2JD                       1988
8JD                       1556
7JD                       1514
3JD                       1188
6JD                       1098
4JD                        666
ISC                        350
Interstate Compact         309

---------------------------

release_type Type: object
Number unique values: 11.

                                     release_type
Parole                                       9810
Parole Granted                               5577
Discharged – End of Sentence                 5007
Discharged - Expiration of Sentence          2335
Released to Special Sentence                  401
Special Sentence                              347
Paroled w/Immediate Discharge                 334
Paroled to Detainer - Out of State            137
Paroled to Detainer - INS                     134
Paroled to Detainer - U.S. Marshall            77
Paroled to Detainer - Iowa                     66

In [20]:
# Filling NA's in super_dist and release_type
df['super_dist'].fillna("unknown", inplace=True)

check_null(df)

----------------------------

# of Identified Null Values:

                Null values  Total Values  Percent
Column
yr_released               0         24225      0.0
report_year               0         24225      0.0
race_ethnicity            0         24225      0.0
age_released              0         24225      0.0
crime_class               0         24225      0.0
crime_type                0         24225      0.0
crime_subtype             0         24225      0.0
release_type              0         24225      0.0
super_dist                0         24225      0.0
recidivist                0         24225      0.0
target_pop                0         24225      0.0
sex                       0         24225      0.0

## COMBINING AND REMAPPING CLASSES

### Remapping race_ethnicity

In [21]:
df.race_ethnicity.value_counts()

White - Non-Hispanic                               16460
Black - Non-Hispanic                                5687
White - Hispanic                                    1365
American Indian or Alaska Native - Non-Hispanic      463
Asian or Pacific Islander - Non-Hispanic             175
Black - Hispanic                                      36
American Indian or Alaska Native - Hispanic           19
White -                                               12
Asian or Pacific Islander - Hispanic                   5
Black -                                                2
N/A -                                                  1
Name: race_ethnicity, dtype: int64

- for race_ethnicity:
    - Going to combine hispanic and non-hispanic

In [22]:
race_ethnicity_map = {'White - Non-Hispanic':'White',
                        'Black - Non-Hispanic': 'Black',
                        'White - Hispanic' : 'Hispanic',
                        'American Indian or Alaska Native - Non-Hispanic' : 'American Native',
                        'Asian or Pacific Islander - Non-Hispanic' : 'Asian or Pacific Islander',
                        'Black - Hispanic' : 'Black',
                        'American Indian or Alaska Native - Hispanic':'American Native',
                        'White -' : 'White',
                        'Asian or Pacific Islander - Hispanic' : 'Asian or Pacific Islander',
                        'N/A -' : np.nan,
                        'Black -':'Black'}

In [23]:
df['race_ethnicity'] = df['race_ethnicity'].map(race_ethnicity_map)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24225 entries, 0 to 26019
Data columns (total 12 columns):
yr_released       24225 non-null int64
report_year       24225 non-null int64
race_ethnicity    24224 non-null object
age_released      24225 non-null object
crime_class       24225 non-null object
crime_type        24225 non-null object
crime_subtype     24225 non-null object
release_type      24225 non-null object
super_dist        24225 non-null object
recidivist        24225 non-null object
target_pop        24225 non-null object
sex               24225 non-null object
dtypes: int64(2), object(10)
memory usage: 2.4+ MB

### Remapping crime_class
- for crime_class:
    - Combine 'Other Felony' and 'Other Felony (Old Code)' -> nan
    - Other Misdemeanor -> np.nan
    - Felony - Mandatory Minimum -> np.nan
    - Special Sentence 2005 -> Sex Offender
    - 'Sexual Predator Community Supervision' -> 'Sex Offender'
    - Other Felony -> np.nan

### Adding a simple felony true false category

In [24]:
df.crime_class.str.contains('felony',case=False).value_counts()

True     19685
False     4540
Name: crime_class, dtype: int64

In [25]:
df['felony'] = df['crime_class'].str.contains('felony',case=False)
# check_column(df['felony'])

### Mapping Crime Class

In [26]:
df['crime_class'].value_counts()

D Felony                                    9786
C Felony                                    6453
Aggravated Misdemeanor                      4327
B Felony                                    1716
Felony - Enhancement to Original Penalty    1488
Felony - Enhanced                            220
Serious Misdemeanor                          139
Special Sentence 2005                         69
Felony - Mandatory Minimum                    10
Other Felony                                   6
A Felony                                       4
Simple Misdemeanor                             3
Sexual Predator Community Supervision          2
Other Felony (Old Code)                        2
Name: crime_class, dtype: int64

In [27]:
crime_class_map = {'Other Felony (Old Code)': np.nan ,#or other felony
                  'Other Misdemeanor':np.nan,
                   'Felony - Mandatory Minimum':np.nan, # if minimum then lowest sentence ==  D Felony
                   'Special Sentence 2005': 'Sex Offender',
                   'Other Felony' : np.nan ,
                   'Sexual Predator Community Supervision' : 'Sex Offender',
                   'D Felony': 'D Felony',
                   'C Felony' :'C Felony',
                   'B Felony' : 'B Felony',
                   'A Felony' : 'A Felony',
                   'Aggravated Misdemeanor':'Aggravated Misdemeanor',
                   'Felony - Enhancement to Original Penalty':'Felony - Enhanced',
                   'Felony - Enhanced':'Felony - Enhanced' ,
                   'Serious Misdemeanor':'Serious Misdemeanor',
                   'Simple Misdemeanor':'Simple Misdemeanor'}
crime_class_map

{'Other Felony (Old Code)': nan,
 'Other Misdemeanor': nan,
 'Felony - Mandatory Minimum': nan,
 'Special Sentence 2005': 'Sex Offender',
 'Other Felony': nan,
 'Sexual Predator Community Supervision': 'Sex Offender',
 'D Felony': 'D Felony',
 'C Felony': 'C Felony',
 'B Felony': 'B Felony',
 'A Felony': 'A Felony',
 'Aggravated Misdemeanor': 'Aggravated Misdemeanor',
 'Felony - Enhancement to Original Penalty': 'Felony - Enhanced',
 'Felony - Enhanced': 'Felony - Enhanced',
 'Serious Misdemeanor': 'Serious Misdemeanor',
 'Simple Misdemeanor': 'Simple Misdemeanor'}

In [32]:
# # pause
# df_F_enhanced = df.groupby('crime_class').get_group('Felony - Enhanced')
# df_F_enhancement = df.groupby('crime_class').get_group('Felony - Enhancement to Original Penalty')

In [37]:
# df_F_enhanced.crime_subtype.value_counts()

In [36]:
# df_F_enhancement.crime_subtype.value_counts()

In [38]:
# Mapping New Values onto Crime_class
df['crime_class'] = df['crime_class'].map(crime_class_map)

In [39]:
# Check mapping result
class_counts = df['crime_class'].value_counts()
class_counts

D Felony                  9786
C Felony                  6453
Aggravated Misdemeanor    4327
B Felony                  1716
Felony - Enhanced         1708
Serious Misdemeanor        139
Sex Offender                71
A Felony                     4
Simple Misdemeanor           3
Name: crime_class, dtype: int64

### Combining crime_type and crime_subtype into types_combined

In [45]:
df['crime_class_type_subtype']= df['crime_class']+'_'+df['crime_type']+'_'+df['crime_subtype']

In [43]:
# print(list(df['crime_type'].unique()))
# print(list(df['crime_subtype'].unique()))

In [46]:
df['crime_class_type_subtype'].value_counts()o

C Felony_Drug_Trafficking                                              3104
D Felony_Property_Burglary                                             1733
D Felony_Public Order_OWI                                              1370
Aggravated Misdemeanor_Violent_Assault                                 1243
D Felony_Drug_Trafficking                                              1194
D Felony_Violent_Assault                                               1176
B Felony_Drug_Trafficking                                              1161
D Felony_Property_Theft                                                 981
D Felony_Property_Forgery/Fraud                                         938
C Felony_Property_Theft                                                 785
Felony - Enhanced_Drug_Trafficking                                      766
D Felony_Drug_Drug Possession                                           757
C Felony_Property_Burglary                                              726
Aggravated Misdemeanor_Property_Theft                                   674
Felony - Enhanced_Other_Other Criminal                                  667
C Felony_Violent_Sex                                                    590
C Felony_Violent_Assault                                                381
Aggravated Misdemeanor_Public Order_Traffic                             353
Aggravated Misdemeanor_Public Order_Alcohol                             305
C Felony_Violent_Robbery                                                276
Aggravated Misdemeanor_Drug_Drug Possession                             267
D Felony_Public Order_Weapons                                           264
Aggravated Misdemeanor_Public Order_OWI                                 263
Aggravated Misdemeanor_Property_Burglary                                259
D Felony_Drug_Other Drug                                                201
D Felony_Property_Vandalism                                             195
D Felony_Public Order_Other Public Order                                186
C Felony_Violent_Other Violent                                          178
B Felony_Violent_Other Violent                                          169
D Felony_Violent_Sex                                                    165
Aggravated Misdemeanor_Violent_Sex                                      163
Aggravated Misdemeanor_Other_Other Criminal                             154
B Felony_Violent_Murder/Manslaughter                                    153
Aggravated Misdemeanor_Property_Forgery/Fraud                           147
D Felony_Public Order_Traffic                                           132
B Felony_Other_Other Criminal                                           120
C Felony_Violent_Murder/Manslaughter                                    109
D Felony_Violent_Murder/Manslaughter                                    101
Aggravated Misdemeanor_Violent_Other Violent                             98
C Felony_Property_Arson                                                  98
D Felony_Other_Other Criminal                                            94
D Felony_Public Order_Sex Offender Registry/Residency                    83
Aggravated Misdemeanor_Property_Vandalism                                83
D Felony_Violent_Other Violent                                           78
Serious Misdemeanor_Violent_Assault                                      78
Aggravated Misdemeanor_Public Order_Weapons                              74
Sex Offender_Violent_Sex                                                 71
D Felony_Public Order_Flight/Escape                                      68
Aggravated Misdemeanor_Public Order_Other Public Order                   65
Aggravated Misdemeanor_Other_Special Sentence Revocation                 56
Felony - Enhanced_Property_Burglary                                      47
B Felony_Violent_Sex                                                     47
Felony - Enhanced_Violent_Sex                                            44
C Felony_Property_Vandalism                                              43
C Felony_Drug_Other Drug                                                 43
Aggravated Misdemeanor_Public Order_Sex Offender Registry/Residency      41
Felony - Enhanced_Property_Theft                                         38
C Felony_Other_Other Violent                                             34
B Felony_Violent_Robbery                                                 33
Felony - Enhanced_Public Order_OWI                                       32
C Felony_Violent_Kidnap                                                  29
Felony - Enhanced_Drug_Drug Possession                                   28
Felony - Enhanced_Property_Forgery/Fraud                                 25
Aggravated Misdemeanor_Public Order_Prostitution/Pimping                 24
D Felony_Property_Arson                                                  23
C Felony_Property_Forgery/Fraud                                          23
Serious Misdemeanor_Public Order_OWI                                     22
B Felony_Property_Arson                                                  21
Felony - Enhanced_Violent_Assault                                        20
C Felony_Other_Other Criminal                                            16
Aggravated Misdemeanor_Violent_Kidnap                                    16
Serious Misdemeanor_Drug_Drug Possession                                 14
D Felony_Other_Other Violent                                             13
Aggravated Misdemeanor_Drug_Trafficking                                  13
D Felony_Violent_Kidnap                                                  12
Felony - Enhanced_Violent_Robbery                                        11
Aggravated Misdemeanor_Property_Arson                                     9
Aggravated Misdemeanor_Drug_Other Drug                                    8
Felony - Enhanced_Drug_Other Drug                                         7
B Felony_Violent_Assault                                                  7
D Felony_Other_Special Sentence Revocation                                7
D Felony_Public Order_Prostitution/Pimping                                7
Felony - Enhanced_Public Order_Weapons                                    6
D Felony_Property_Stolen Property                                         6
Serious Misdemeanor_Public Order_Alcohol                                  6
C Felony_Drug_Drug Possession                                             5
B Felony_Violent_Kidnap                                                   5
C Felony_Public Order_Sex Offender Registry/Residency                     5
Serious Misdemeanor_Violent_Sex                                           5
Aggravated Misdemeanor_Other_Animals                                      5
Felony - Enhanced_Public Order_Flight/Escape                              5
Aggravated Misdemeanor_Violent_Murder/Manslaughter                        4
Serious Misdemeanor_Public Order_Traffic                                  4
C Felony_Public Order_Weapons                                             4
Felony - Enhanced_Violent_Other Violent                                   3
Serious Misdemeanor_Property_Theft                                        3
A Felony_Violent_Murder/Manslaughter                                      3
Serious Misdemeanor_Public Order_Flight/Escape                            3
Felony - Enhanced_Public Order_Other Public Order                         3
C Felony_Property_Stolen Property                                         2
Felony - Enhanced_Violent_Murder/Manslaughter                             2
Aggravated Misdemeanor_Public Order_Flight/Escape                         2
Simple Misdemeanor_Public Order_Other Public Order                        2
C Felony_Public Order_Other Public Order                                  2
Serious Misdemeanor_Drug_Trafficking                                      2
D Felony_Other_Animals                                                    1
Felony - Enhanced_Public Order_Traffic                                    1
D Felony_Public Order_Alcohol                                             1
Felony - Enhanced_Public Order_Prostitution/Pimping                       1
A Felony_Violent_Kidnap                                                   1
Aggravated Misdemeanor_Property_Stolen Property                           1
Simple Misdemeanor_Violent_Assault                                        1
Serious Misdemeanor_Property_Vandalism                                    1
Serious Misdemeanor_Drug_Other Drug                                       1
Felony - Enhanced_Property_Vandalism                                      1
Felony - Enhanced_Property_Arson                                          1
Name: crime_class_type_subtype, dtype: int64

In [47]:
# pd.DataFrame(df.groupby('crime_class')['types_combined'].value_counts())

In [48]:
# C_felony_crimes = df.loc[df['crimitsin Hee_class']=='C Felony']['types_combined'].value_counts().index
# D_felony_crimes = df.loc[df['crime_class']=='D Felony']['types_combined'].value_counts().index
# E_felony_crimes = df.loc[df['crime_class']=='Felony - Enhanced']['types_combined'].value_counts().index

In [49]:
# for cf in c_felony_crimes:
#     counts = cf in E_felony_crimes
#     print(f'{cf} in e?: {counts(cf)==True}')

In [50]:
# # Displaying felony - enhanced crime types
# df_enhanced = df.drop(['yr_released','report_year'],axis=1).groupby('crime_class').get_group('Felony - Enhanced')

# # Imporant Displsu of Drug Breakdown 
# pd.DataFrame(df_enhanced.groupby('crime_type')['crime_subtype'].value_counts())

In [51]:
# df['crime_subtype'].loc[df['crime_class']=='D Felony'].value_counts()

### Ordering Crime Classes based on max penalties

In [53]:
display(sorted(list(df['crime_class'].value_counts().index)))

['A Felony',
 'Aggravated Misdemeanor',
 'B Felony',
 'C Felony',
 'D Felony',
 'Felony - Enhanced',
 'Serious Misdemeanor',
 'Sex Offender',
 'Simple Misdemeanor']

In [ ]:
# pp(["Maximum penalties: 
#     A Felony = 75;
#     B Felony = 25 or 50 years;
#     C Felony = 10 years;
#     D Felony = 5 years;
#     Aggravated Misdemeanor = 2 years;
#     Serious Misdemeanor = 1 year; 
#     Simple Misdemeanor = 30 days"])
#     Felony - Enhanced = 12.5 # actually based on if its class C or class D
#      Special Crime (sex offense) 10 years
#     #Felony: Enhanced - Add on to classes C and D

In [59]:
# Mapping years onto crime class
crime_class_max_sentence_map = {'A Felony': 75, 'Aggravated Misdemeanor': 2,
 'B Felony': 50,
 'C Felony': 10,
 'D Felony': 5,
 'Felony - Enhanced': 10, #could maybe be changed
 'Serious Misdemeanor': 1,
 'Sex Offender': 10,
 'Simple Misdemeanor': 0.83}

In [60]:
# Mapping max_sentence_column
df['max_sentence'] =df['crime_class'].map(crime_class_max_sentence_map)

In [61]:
df['max_sentence'].value_counts().sort_index()

0.83        3
1.00      139
2.00     4327
5.00     9786
10.00    8232
50.00    1716
75.00       4
Name: max_sentence, dtype: int64

### Remapping release_type
**DECIDED NOT TO SINCE THIS COULD BE AN IMPORTANT LEVEL OF NUANCE**
- Combine Parole Grant and Parole and Paroled w/ Immediate Discharge [?]
- Combine Discharged - End of Sentence and Discharged - Expiration of Sentence
- **unknown...?** (keeping but consider dropping
- Combine Released to Special Sentence and Special Sentence
- Combine Paroled to Detainer - Out of State, Paroled to Detainer - INS, Paroled to Detainer - U.S. Marshall, Paroled to Detainer - Iowa.

In [62]:
df['release_type'].value_counts()

Parole                                 9810
Parole Granted                         5577
Discharged – End of Sentence           5007
Discharged - Expiration of Sentence    2335
Released to Special Sentence            401
Special Sentence                        347
Paroled w/Immediate Discharge           334
Paroled to Detainer - Out of State      137
Paroled to Detainer - INS               134
Paroled to Detainer - U.S. Marshall      77
Paroled to Detainer - Iowa               66
Name: release_type, dtype: int64

In [ ]:
# release_type_map = {'Parole': 'Paroled',
#                     'Discharged – End of Sentence': 'Discharged - End of Sentence',
#                     'Special Sentence':'Special Sentence',
#                     'Parole Granted': 'Paroled',
#                     'Discharged - Expiration of Sentence' : 'Discharged - End of Sentence',
#                     'Paroled w/Immediate Discharge': 'Paroled',
#                     'Paroled to Detainer - Iowa':'Paroled to Detainer',
#                     'Paroled to Detainer - U.S. Marshall':'Paroled to Detainer',
#                     'Paroled to Detainer - Out of State':'Paroled to Detainer',
#                     'Released to Special Sentence':'Special Sentence',
#                     'Paroled to Detainer - INS':'Paroled to Detainer',
#                     'unknown':np.nan}

In [ ]:
# df['release_type_map'] = df['release_type'].map(release_type_map)
# df['release_type_map'].value_counts()

### Remapping binaries ( recidivist, target_pop, sex)
- Yes = 1
- No = 0

- Male = 0
- Female = 1

In [63]:
recidivist_map = {'No':0,'Yes':1}
target_pop_map = {'No':0,'Yes':1}
sex_map = {'Male':0,'Female':1}

In [64]:
df['recidivist'] = df['recidivist'].map(recidivist_map)
df['recidivist'].value_counts()

0    15894
1     8331
Name: recidivist, dtype: int64

In [65]:
df['target_pop'] = df['target_pop'].map(target_pop_map)
df['target_pop'].value_counts()

1    13807
0    10418
Name: target_pop, dtype: int64

In [66]:
df['sex'] = df['sex'].map(sex_map)
df['sex'].value_counts()

0    21050
1     3175
Name: sex, dtype: int64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24225 entries, 0 to 26019
Data columns (total 16 columns):
yr_released                 24225 non-null int64
report_year                 24225 non-null int64
race_ethnicity              24224 non-null object
age_released                24225 non-null object
crime_class                 24207 non-null object
crime_type                  24225 non-null object
crime_subtype               24225 non-null object
release_type                24225 non-null object
super_dist                  24225 non-null object
recidivist                  24225 non-null int64
target_pop                  24225 non-null int64
sex                         24225 non-null int64
felony                      24225 non-null bool
types_combined              24225 non-null object
crime_class_type_subtype    24207 non-null object
max_sentence                24207 non-null float64
dtypes: bool(1), float64(1), int64(5), object(9)
memory usage: 3.0+ MB

#### Dropping all  values replaced with np.nan

In [68]:
check_null(df)

----------------------------

# of Identified Null Values:

                          Null values  Total Values  Percent
Column
yr_released                         0         24225    0.000
report_year                         0         24225    0.000
race_ethnicity                      1         24225    0.004
age_released                        0         24225    0.000
crime_class                        18         24225    0.074
crime_type                          0         24225    0.000
crime_subtype                       0         24225    0.000
release_type                        0         24225    0.000
super_dist                          0         24225    0.000
recidivist                          0         24225    0.000
target_pop                          0         24225    0.000
sex                                 0         24225    0.000
felony                              0         24225    0.000
types_combined                      0         24225    0.000
crime_class_type_subtype           18         24225    0.074
max_sentence                       18         24225    0.074

In [ ]:
# stop

In [69]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24206 entries, 0 to 26019
Data columns (total 16 columns):
yr_released                 24206 non-null int64
report_year                 24206 non-null int64
race_ethnicity              24206 non-null object
age_released                24206 non-null object
crime_class                 24206 non-null object
crime_type                  24206 non-null object
crime_subtype               24206 non-null object
release_type                24206 non-null object
super_dist                  24206 non-null object
recidivist                  24206 non-null int64
target_pop                  24206 non-null int64
sex                         24206 non-null int64
felony                      24206 non-null bool
types_combined              24206 non-null object
crime_class_type_subtype    24206 non-null object
max_sentence                24206 non-null float64
dtypes: bool(1), float64(1), int64(5), object(9)
memory usage: 3.0+ MB

In [72]:
Y=df['recidivist']

In [1]:
from bs_ds import *

View our documentation at https://bs-ds.readthedocs.io/en/latest/bs_ds.html
For convenient loading of standard modules :
>> from bs_ds.imports import *

In [2]:
# df.to_csv('added_crime_comb_and_max_sentence.csv')
df = pd.read_csv('added_crime_comb_and_max_sentence.csv',index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24206 entries, 0 to 26019
Data columns (total 16 columns):
yr_released                 24206 non-null int64
report_year                 24206 non-null int64
race_ethnicity              24206 non-null object
age_released                24206 non-null object
crime_class                 24206 non-null object
crime_type                  24206 non-null object
crime_subtype               24206 non-null object
release_type                24206 non-null object
super_dist                  24206 non-null object
recidivist                  24206 non-null int64
target_pop                  24206 non-null int64
sex                         24206 non-null int64
felony                      24206 non-null bool
types_combined              24206 non-null object
crime_class_type_subtype    24206 non-null object
max_sentence                24206 non-null float64
dtypes: bool(1), float64(1), int64(5), object(9)
memory usage: 3.0+ MB

## Notes on How to Treat/Encoding Classes
- Numeric:
    - yr_release
    - recid_report_yr
- Ordinal:
    - [ ] age_at_release should be an ordinal label.
- All others should be LabelEncoded
    - [ ] crime_class_map
    - [ ] race_ethnicity_map
    - [ ] crime_type
    - [ ] crime_subtype
    - [ ] super_district
    - [ ] release_type_map
    - [x] target_pop_map
    - [x] sex_map
    - [x] recidivism_map

### Lists of Vars to encode

In [4]:
# Defining lists to use later.
vars_label_encode = ['race_ethnicity','crime_class','crime_type', 'crime_subtype', 'super_dist', 'release_type'] #, 'age_released']

### Encoding age_at_release by mapping

In [5]:
# Ordering age categories in a tuple and then turning into an array.
age_ranges = ('Under 25','25-34', '35-44','45-54','55 and Older')
age_codes = (0,1,2,3,4)
# Zipping into Dictionary to Map onto Column
age_map = dict(zip(age_ranges,age_codes))
age_map

{'Under 25': 0, '25-34': 1, '35-44': 2, '45-54': 3, '55 and Older': 4}

In [6]:
df['age_released'] = df['age_released'].map(age_map)
df['age_released'].value_counts()

1    8876
2    5844
0    4229
3    4075
4    1182
Name: age_released, dtype: int64

In [7]:
df.head()

,yr_released,report_year,race_ethnicity,age_released,crime_class,crime_type,crime_subtype,release_type,super_dist,recidivist,target_pop,sex,felony,types_combined,crime_class_type_subtype,max_sentence
0,2010,2013,Black,1,C Felony,Violent,Robbery,Parole,7JD,1,1,0,True,Violent_Robbery,C Felony_Violent_Robbery,10.0
1,2010,2013,White,1,D Felony,Property,Theft,Discharged – End of Sentence,unknown,1,0,0,True,Property_Theft,D Felony_Property_Theft,5.0
2,2010,2013,White,2,B Felony,Drug,Trafficking,Parole,5JD,1,1,0,True,Drug_Trafficking,B Felony_Drug_Trafficking,50.0
3,2010,2013,White,1,B Felony,Other,Other Criminal,Parole,6JD,0,1,0,True,Other_Other Criminal,B Felony_Other_Other Criminal,50.0
4,2010,2013,Black,2,D Felony,Violent,Assault,Discharged – End of Sentence,unknown,1,0,0,True,Violent_Assault,D Felony_Violent_Assault,5.0

In [8]:
df['felony']= df['felony'].astype('int')
df['felony'].value_counts()

1    19666
0     4540
Name: felony, dtype: int64

In [9]:
df.dtypes

yr_released                   int64
report_year                   int64
race_ethnicity               object
age_released                  int64
crime_class                  object
crime_type                   object
crime_subtype                object
release_type                 object
super_dist                   object
recidivist                    int64
target_pop                    int64
sex                           int64
felony                        int32
types_combined               object
crime_class_type_subtype     object
max_sentence                float64
dtype: object

In [10]:
df['yr_released'] = df['yr_released'].astype('object')
df['report_year'] = df['report_year'].astype('object')

In [11]:
# df.loc[df.select_dtypes('object') == True]= df.select_dtypes('object').astype('category')

In [12]:
df_num = df.select_dtypes(include=['int64','float64'])
df_num.head()

   age_released  recidivist  target_pop  sex  max_sentence
0             1           1           1    0          10.0
1             1           1           0    0           5.0
2             2           1           1    0          50.0
3             1           0           1    0          50.0
4             2           1           0    0           5.0

In [13]:
df_obj = df.select_dtypes(include=['object'])

In [14]:
df_obj.head()

,yr_released,report_year,race_ethnicity,crime_class,crime_type,crime_subtype,release_type,super_dist,types_combined,crime_class_type_subtype
0,2010,2013,Black,C Felony,Violent,Robbery,Parole,7JD,Violent_Robbery,C Felony_Violent_Robbery
1,2010,2013,White,D Felony,Property,Theft,Discharged – End of Sentence,unknown,Property_Theft,D Felony_Property_Theft
2,2010,2013,White,B Felony,Drug,Trafficking,Parole,5JD,Drug_Trafficking,B Felony_Drug_Trafficking
3,2010,2013,White,B Felony,Other,Other Criminal,Parole,6JD,Other_Other Criminal,B Felony_Other_Other Criminal
4,2010,2013,Black,D Felony,Violent,Assault,Discharged – End of Sentence,unknown,Violent_Assault,D Felony_Violent_Assault

### Encode categories cols

In [15]:
lablib = LabelLibrary()
df_coded = lablib.fit_transform(df_obj)
df_coded.head()

,yr_released,report_year,race_ethnicity,crime_class,crime_type,crime_subtype,release_type,super_dist,types_combined,crime_class_type_subtype
0,0,0,2,3,4,16,2,6,25,54
1,0,0,4,4,2,21,1,10,11,67
2,0,0,4,2,0,23,2,4,2,27
3,0,0,4,2,1,11,2,5,4,28
4,0,0,2,4,4,3,1,10,21,77

In [16]:
df_pca = pd.concat([df_coded,df_num],axis=1)
df_pca.head()

,yr_released,report_year,race_ethnicity,crime_class,crime_type,crime_subtype,release_type,super_dist,types_combined,crime_class_type_subtype,age_released,recidivist,target_pop,sex,max_sentence
0,0.0,0.0,2.0,3.0,4.0,16.0,2.0,6.0,25.0,54.0,1.0,1.0,1.0,0.0,10.0
1,0.0,0.0,4.0,4.0,2.0,21.0,1.0,10.0,11.0,67.0,1.0,1.0,0.0,0.0,5.0
2,0.0,0.0,4.0,2.0,0.0,23.0,2.0,4.0,2.0,27.0,2.0,1.0,1.0,0.0,50.0
3,0.0,0.0,4.0,2.0,1.0,11.0,2.0,5.0,4.0,28.0,1.0,0.0,1.0,0.0,50.0
4,0.0,0.0,2.0,4.0,4.0,3.0,1.0,10.0,21.0,77.0,2.0,1.0,0.0,0.0,5.0

In [17]:
# sca = StandardScaler()
# # for col in df_pca.columns:
# df_pca = pd.DataFrame(sca.fit_transform(df_pca),columns=df_pca.columns)

In [25]:
df_pca.isna().sum()

yr_released                 0
report_year                 0
race_ethnicity              0
crime_class                 0
crime_type                  0
crime_subtype               0
release_type                0
super_dist                  0
types_combined              0
crime_class_type_subtype    0
age_released                0
recidivist                  0
target_pop                  0
sex                         0
max_sentence                0
dtype: int64

In [27]:
df_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22393 entries, 0 to 24205
Data columns (total 15 columns):
yr_released                 22393 non-null object
report_year                 22393 non-null object
race_ethnicity              22393 non-null object
crime_class                 22393 non-null object
crime_type                  22393 non-null object
crime_subtype               22393 non-null object
release_type                22393 non-null object
super_dist                  22393 non-null object
types_combined              22393 non-null object
crime_class_type_subtype    22393 non-null object
age_released                22393 non-null object
recidivist                  22393 non-null float64
target_pop                  22393 non-null float64
sex                         22393 non-null float64
max_sentence                22393 non-null float64
dtypes: float64(4), object(11)
memory usage: 2.7+ MB

In [22]:
# df_pca.dropna(inplace=True)

In [ ]:
BOOKMARK

In [112]:
# df_pca.to_csv('df_PCA.csv')
df_pca=pd.read_csv('df_PCA.csv',index_col=0)
df_pca.head()

   yr_released  report_year  race_ethnicity  crime_class  crime_type  crime_subtype  release_type  super_dist  types_combined  crime_class_type_subtype  age_released  recidivist  target_pop  sex  max_sentence
0          0.0          0.0             2.0          3.0         4.0           16.0           2.0         6.0            25.0                      54.0           1.0         1.0         1.0  0.0          10.0
1          0.0          0.0             4.0          4.0         2.0           21.0           1.0        10.0            11.0                      67.0           1.0         1.0         0.0  0.0           5.0
2          0.0          0.0             4.0          2.0         0.0           23.0           2.0         4.0             2.0                      27.0           2.0         1.0         1.0  0.0          50.0
3          0.0          0.0             4.0          2.0         1.0           11.0           2.0         5.0             4.0                      28.0           1.0         0.0         1.0  0.0          50.0
4          0.0          0.0             2.0          4.0         4.0            3.0           1.0        10.0            21.0                      77.0           2.0         1.0         0.0  0.0           5.0

In [113]:
df_pca.iloc[:,0:-4] = df_pca.iloc[:,0:-4].astype('object')
df_pca.head()

  yr_released report_year race_ethnicity crime_class crime_type crime_subtype release_type super_dist types_combined crime_class_type_subtype age_released  recidivist  target_pop  sex  max_sentence
0           0           0              2           3          4            16            2          6             25                       54            1         1.0         1.0  0.0          10.0
1           0           0              4           4          2            21            1         10             11                       67            1         1.0         0.0  0.0           5.0
2           0           0              4           2          0            23            2          4              2                       27            2         1.0         1.0  0.0          50.0
3           0           0              4           2          1            11            2          5              4                       28            1         0.0         1.0  0.0          50.0
4           0           0              2           4          4             3            1         10             21                       77            2         1.0         0.0  0.0           5.0

In [116]:
df_pca.iloc[:,-4:-2] = df_pca.iloc[:,-4:-2].astype('int')
df_pca.head()

  yr_released report_year race_ethnicity crime_class crime_type crime_subtype release_type super_dist types_combined crime_class_type_subtype age_released  recidivist  target_pop  sex  max_sentence
0           0           0              2           3          4            16            2          6             25                       54            1           1           1  0.0          10.0
1           0           0              4           4          2            21            1         10             11                       67            1           1           0  0.0           5.0
2           0           0              4           2          0            23            2          4              2                       27            2           1           1  0.0          50.0
3           0           0              4           2          1            11            2          5              4                       28            1           0           1  0.0          50.0
4           0           0              2           4          4             3            1         10             21                       77            2           1           0  0.0           5.0

In [ ]:
df_pca['sex']=df_pca['sex'].astype('int')

In [121]:
df_pca.dtypes

yr_released                  object
report_year                  object
race_ethnicity               object
crime_class                  object
crime_type                   object
crime_subtype                object
release_type                 object
super_dist                   object
types_combined               object
crime_class_type_subtype     object
age_released                 object
recidivist                    int32
target_pop                    int32
sex                           int32
max_sentence                float64
dtype: object

In [123]:
df_pca['age_released'] =df_pca['age_released'].astype('int32')

In [127]:
sca = StandardScaler()
df_pca['age_released'] = sca.fit_transform(np.array(df_pca['age_released']).reshape(-1,1))

C:\Users\james\Anaconda3\envs\learn-env-ext\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\james\Anaconda3\envs\learn-env-ext\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int32 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [128]:
df_pca['max_sentence'] = sca.fit_transform(np.array(df_pca['max_sentence']).reshape(-1,1))

In [129]:
df_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22393 entries, 0 to 24205
Data columns (total 15 columns):
yr_released                 22393 non-null object
report_year                 22393 non-null object
race_ethnicity              22393 non-null object
crime_class                 22393 non-null object
crime_type                  22393 non-null object
crime_subtype               22393 non-null object
release_type                22393 non-null object
super_dist                  22393 non-null object
types_combined              22393 non-null object
crime_class_type_subtype    22393 non-null object
age_released                22393 non-null float64
recidivist                  22393 non-null int32
target_pop                  22393 non-null int32
sex                         22393 non-null int32
max_sentence                22393 non-null float64
dtypes: float64(2), int32(3), object(10)
memory usage: 2.5+ MB

In [131]:
df_pca.to_pickle('./pre_one_hot_post_standard_scale.pkl')

# BOOKMARK

In [3]:
from bs_ds.imports import *

                  Module/Package Handle
pandas                               pd
numpy                                np
matplotlib                          mpl
matplotlib.pyplot                   plt
seaborn                             sns

In [2]:
from bs_ds import *

View our documentation at https://bs-ds.readthedocs.io/en/latest/bs_ds.html
For convenient loading of standard modules :
>> from bs_ds.imports import *

In [60]:
df_pca = pd.read_pickle('./pre_one_hot_post_standard_scale.pkl')

In [61]:
inspect_df(df_pca)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22393 entries, 0 to 24205
Data columns (total 15 columns):
yr_released                 22393 non-null object
report_year                 22393 non-null object
race_ethnicity              22393 non-null object
crime_class                 22393 non-null object
crime_type                  22393 non-null object
crime_subtype               22393 non-null object
release_type                22393 non-null object
super_dist                  22393 non-null object
types_combined              22393 non-null object
crime_class_type_subtype    22393 non-null object
age_released                22393 non-null float64
recidivist                  22393 non-null int32
target_pop                  22393 non-null int32
sex                         22393 non-null int32
max_sentence                22393 non-null float64
dtypes: float64(2), int32(3), object(10)
memory usage: 2.5+ MB

None

       age_released  recidivist  target_pop         sex  max_sentence
count    2.2393e+04  22393.0000  22393.0000  22393.0000    2.2393e+04
mean     7.6153e-17      0.3418      0.5625      0.1296   -5.0769e-17
std      1.0000e+00      0.4743      0.4961      0.3359    1.0000e+00
min     -1.4286e+00      0.0000      0.0000      0.0000   -7.3045e-01
25%     -5.2866e-01      0.0000      0.0000      0.0000   -3.7758e-01
50%     -5.2866e-01      0.0000      1.0000      0.0000   -3.7758e-01
75%      3.7132e-01      1.0000      1.0000      0.0000    4.5535e-02
max      2.1713e+00      1.0000      1.0000      1.0000    5.5460e+00

---------------------------------------------------

# of Identified Numeric Values in "Object" columns:

Empty DataFrame
Columns: [Numeric values, Total Values, Percent]
Index: []

----------------------------

# of Identified Null Values:

                          Null values  Total Values  Percent
Column
yr_released                         0         22393      0.0
report_year                         0         22393      0.0
race_ethnicity                      0         22393      0.0
crime_class                         0         22393      0.0
crime_type                          0         22393      0.0
crime_subtype                       0         22393      0.0
release_type                        0         22393      0.0
super_dist                          0         22393      0.0
types_combined                      0         22393      0.0
crime_class_type_subtype            0         22393      0.0
age_released                        0         22393      0.0
recidivist                          0         22393      0.0
target_pop                          0         22393      0.0
sex                                 0         22393      0.0
max_sentence                        0         22393      0.0

  yr_released report_year race_ethnicity crime_class crime_type crime_subtype release_type super_dist types_combined crime_class_type_subtype  age_released  recidivist  target_pop  sex  max_sentence
0           0           0              2           3          4            16            2          6             25                       54       -0.5287           1           1    0        0.0455
1           0           0              4           4          2            21            1         10             11                       67       -0.5287           1           0    0       -0.3776
2           0           0              4           2          0            23            2          4              2                       27        0.3713           1           1    0        3.4304

In [62]:
y = df_pca['recidivist']

In [63]:
df_pca['age_released'] = df_pca['age_released'].astype('')
df_pca.dtypes

yr_released                  object
report_year                  object
race_ethnicity               object
crime_class                  object
crime_type                   object
crime_subtype                object
release_type                 object
super_dist                   object
types_combined               object
crime_class_type_subtype     object
age_released                  int32
recidivist                    int32
target_pop                    int32
sex                           int32
max_sentence                float64
dtype: object

In [64]:
from bs_ds.bs_ds import select_pca

In [65]:
df_pre_hot =df_pca.copy()

In [66]:
df_pca = df
df_pca.head()

  race_ethnicity release_type super_dist crime_class_type_subtype  age_released  target_pop  sex  max_sentence
0              2            2          6                       54             0           1    0        0.0455
1              4            1         10                       67             0           0    0       -0.3776
2              4            2          4                       27             0           1    0        3.4304
3              4            2          5                       28             0           1    0        3.4304
4              2            1         10                       77             0           0    0       -0.3776

In [67]:
df_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22393 entries, 0 to 24205
Data columns (total 8 columns):
race_ethnicity              22393 non-null object
release_type                22393 non-null object
super_dist                  22393 non-null object
crime_class_type_subtype    22393 non-null object
age_released                22393 non-null int32
target_pop                  22393 non-null int32
sex                         22393 non-null int32
max_sentence                22393 non-null float64
dtypes: float64(1), int32(3), object(4)
memory usage: 1.3+ MB

In [68]:
df_pca.drop(['crime_type','crime_subtype','crime_class','report_year','yr_released','types_combined','recidivist'], axis=1,inplace=True)

KeyError: "['crime_type' 'crime_subtype' 'crime_class' 'report_year' 'yr_released'\n 'types_combined' 'recidivist'] not found in axis"

In [71]:
df_pca = pd.get_dummies(df_pca, drop_first=True)

In [72]:
df_pca.columns

Index(['age_released', 'target_pop', 'sex', 'max_sentence',
       'race_ethnicity_1.0', 'race_ethnicity_2.0', 'race_ethnicity_3.0',
       'race_ethnicity_4.0', 'release_type_1.0', 'release_type_2.0',
       ...
       'crime_class_type_subtype_106.0', 'crime_class_type_subtype_107.0',
       'crime_class_type_subtype_108.0', 'crime_class_type_subtype_109.0',
       'crime_class_type_subtype_110.0', 'crime_class_type_subtype_111.0',
       'crime_class_type_subtype_112.0', 'crime_class_type_subtype_113.0',
       'crime_class_type_subtype_114.0', 'crime_class_type_subtype_115.0'],
      dtype='object', length=143)

In [20]:
df_pca.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22393 entries, 0 to 24205
Columns: 143 entries, age_released to crime_class_type_subtype_115.0
dtypes: float64(1), int32(3), uint8(139)
memory usage: 3.6 MB

In [ ]:
df_pca.head()

In [27]:
big_pandas()

display.max_columns=None
display.expand_frame_repr=False
display.max_rows=None
display.precision=4

In [28]:
select_pca(df_pca)

    Model  n_components  Explained_Variance_ratio_
0     PCA             2                     0.3299
1     PCA             3                     0.4360
2     PCA             4                     0.5142
3     PCA             5                     0.5767
4     PCA             6                     0.6252
5     PCA             7                     0.6573
6     PCA             8                     0.6815
7     PCA             9                     0.7054
8     PCA            10                     0.7237
9     PCA            11                     0.7394
10    PCA            12                     0.7540
11    PCA            13                     0.7672
12    PCA            14                     0.7797
13    PCA            15                     0.7913
14    PCA            16                     0.8024
15    PCA            17                     0.8128
16    PCA            18                     0.8233
17    PCA            19                     0.8332
18    PCA            20                     0.8427
19    PCA            21                     0.8520
20    PCA            22                     0.8607
21    PCA            23                     0.8691
22    PCA            24                     0.8766
23    PCA            25                     0.8835
24    PCA            26                     0.8901
25    PCA            27                     0.8964
26    PCA            28                     0.9027
27    PCA            29                     0.9087
28    PCA            30                     0.9141
29    PCA            31                     0.9189
30    PCA            32                     0.9227
31    PCA            33                     0.9265
32    PCA            34                     0.9301
33    PCA            35                     0.9333
34    PCA            36                     0.9364
35    PCA            37                     0.9394
36    PCA            38                     0.9423
37    PCA            39                     0.9450
38    PCA            40                     0.9475
39    PCA            41                     0.9499
40    PCA            42                     0.9522
41    PCA            43                     0.9546
42    PCA            44                     0.9568
43    PCA            45                     0.9588
44    PCA            46                     0.9606
45    PCA            47                     0.9624
46    PCA            48                     0.9642
47    PCA            49                     0.9658
48    PCA            50                     0.9674
49    PCA            51                     0.9689
50    PCA            52                     0.9704
51    PCA            53                     0.9718
52    PCA            54                     0.9732
53    PCA            55                     0.9745
54    PCA            56                     0.9756
55    PCA            57                     0.9768
56    PCA            58                     0.9779
57    PCA            59                     0.9789
58    PCA            60                     0.9800
59    PCA            61                     0.9809
60    PCA            62                     0.9818
61    PCA            63                     0.9827
62    PCA            64                     0.9836
63    PCA            65                     0.9844
64    PCA            66                     0.9851
65    PCA            67                     0.9859
66    PCA            68                     0.9867
67    PCA            69                     0.9874
68    PCA            70                     0.9882
69    PCA            71                     0.9889
70    PCA            72                     0.9895
71    PCA            73                     0.9901
72    PCA            74                     0.9907
73    PCA            75                     0.9913
74    PCA            76                     0.9918
75    PCA            77                     0.9922
76    PCA            78                     0.9927
77    PCA            79                     0.9931
78    PCA            80                     0.9935
79    PCA            81                     0.9939
80    PCA            82                     0.9942
81    PCA            83                     0.9946
82    PCA            84                     0.9950
83    PCA            85                     0.9953
84    PCA            86                     0.9956
85    PCA            87                     0.9959
86    PCA            88                     0.9961
87    PCA            89                     0.9964
88    PCA            90                     0.9966
89    PCA            91                     0.9969
90    PCA            92                     0.9971
91    PCA            93                     0.9973
92    PCA            94                     0.9975
93    PCA            95                     0.9976
94    PCA            96                     0.9978
95    PCA            97                     0.9980
96    PCA            98                     0.9981
97    PCA            99                     0.9982
98    PCA           100                     0.9984
99    PCA           101                     0.9985
100   PCA           102                     0.9986
101   PCA           103                     0.9987
102   PCA           104                     0.9988
103   PCA           105                     0.9988
104   PCA           106                     0.9989
105   PCA           107                     0.9990
106   PCA           108                     0.9990
107   PCA           109                     0.9991
108   PCA           110                     0.9991
109   PCA           111                     0.9992
110   PCA           112                     0.9993
111   PCA           113                     0.9993
112   PCA           114                     0.9994
113   PCA           115                     0.9994
114   PCA           116                     0.9995
115   PCA           117                     0.9995
116   PCA           118                     0.9995
117   PCA           119                     0.9996
118   PCA           120                     0.9996
119   PCA           121                     0.9997
120   PCA           122                     0.9997
121   PCA           123                     0.9997
122   PCA           124                     0.9997
123   PCA           125                     0.9998
124   PCA           126                     0.9998
125   PCA           127                     0.9998
126   PCA           128                     0.9998
127   PCA           129                     0.9998
128   PCA           130                     0.9999
129   PCA           131                     0.9999
130   PCA           132                     0.9999
131   PCA           133                     0.9999
132   PCA           134                     0.9999
133   PCA           135                     0.9999
134   PCA           136                     0.9999
135   PCA           137                     1.0000
136   PCA           138                     1.0000
137   PCA           139                     1.0000
138   PCA           140                     1.0000
139   PCA           141                     1.0000

In [73]:
pca_cols = df_pca.columns

In [74]:
# pca_mle = PCA(n_components='mle')
pca_n15 = PCA(n_components=15)
# df_pca_mle = pca_mle.fit_transform(df_pca)
df_pca_n15 = pca_n15.fit_transform(df_pca)

In [75]:
# print(np.sum(pca_mle.explained_variance_ratio_))
# print(pca_mle.n_components_)

print(np.sum(pca_n15.explained_variance_ratio_))
print(pca_n15.n_components_)

0.7912253609533179
15

## Catboost

In [90]:
#pipeline
from sklearn.pipeline import Pipeline

In [116]:
from catboost import CatBoostClassifier
from sklearn.model_selection import GridSearchCV

In [153]:
param_grid_cb = {'cb__learning_rate':[0.1,0.3],
                  'cb__depth':[10,14],
                 'cb__bagging_temperature':[1,2],
                 'cb__allow_const_label':[True, False],
                  'cb__loss_function':['Logloss'],
                  'cb__boosting_type':['Ordered']}#,'Plain']}

In [ ]:
# cb = CatBoostClassifier(iterations=1000,learning_rate= .05,loss_function='Logloss', eval_metric='Accuracy',
#                                          verbose=True,subsample=0.66 ,boosting_type='Ordered',bootstrap_type='Poisson', task_type='GPU',thread_count=-1)
cb = CatBoostClassifier(iterations=1000, verbose=True, task_type='GPU',thread_count=4)
# iterations=10000, learning_rate=.01,random_seed=42,verbose=True,
#                         bagging_temperature=2,depth=12, nan_mode='Max',
#                         class_weights=[.5017 ,.1993], boosting_type='Ordered',
#                         allow_const_label=True, thread_count=3)

In [149]:
big_pandas()

display.max_columns=None
display.expand_frame_repr=False
display.max_rows=None
display.precision=4

In [ ]:
pipe_cb = Pipeline([('pca', PCA(n_components=15, random_state=42)),
                        ('cb',cb)])

In [ ]:
gs_cb  = GridSearchCV(estimator=pipe_cb, param_grid = param_grid_cb,
                     scoring='accuracy', verbose=2, return_train_score=True, n_jobs=4)

In [ ]:
gs_cb.fit(X_train, y_train)

In [ ]:
print(f'Best accuracy: {gs_cb.best_score_}')
print(f'Best params:\n {gs_cb.best_params_}')

In [ ]:
# pipe_cb.fit(X_train,y_train,**{'cb__verbose':True,
#                               'cb__'})

In [ ]:
import missingno as msno
msno.dendrogram()

In [108]:
print(pipe_cb.score(X_test,y_test))

0.65868905161636

## Random Forests

In [ ]:
from sklearn.ensemble import BaggingClassifier

In [ ]:
bagged_tree  = BaggingClassifier(CatboostClassifier(          ))

### Save full df with original and remapped before dropping original.

In [ ]:
# saving mapped data
# df.to_csv('recidivism_remapped_orig_names_kept_release_type.csv')

In [ ]:
stop

In [ ]:
# vars_to_drop = ['report_year']
# for x in vars_to_drop:
#     df.drop(x,axis=1,inplace=True)
# df.info()

# Jump to Here and Load CSV

In [ ]:
from bs_ds.bamboo import *

In [ ]:
from bs_ds.imports import *

In [ ]:
# df.to_csv('df_remapped_origs_dropped.csv')
# df = pd.read_csv('recidivism_remapped_classes.csv')
# df.drop('Unnamed: 0',axis=1,inplace=True)

# Re-inspecting dataframe prior to EDA
~~Converting categorical variables to category type before encoding~~

In [75]:
inspect_df(df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24206 entries, 0 to 26019
Data columns (total 16 columns):
yr_released                 24206 non-null int64
report_year                 24206 non-null int64
race_ethnicity              24206 non-null object
age_released                24206 non-null int64
crime_class                 24206 non-null object
crime_type                  24206 non-null object
crime_subtype               24206 non-null object
release_type                24206 non-null object
super_dist                  24206 non-null object
recidivist                  24206 non-null int64
target_pop                  24206 non-null int64
sex                         24206 non-null int64
felony                      24206 non-null bool
types_combined              24206 non-null object
crime_class_type_subtype    24206 non-null object
max_sentence                24206 non-null float64
dtypes: bool(1), float64(1), int64(6), object(8)
memory usage: 3.0+ MB

None

       yr_released  report_year  age_released  recidivist  target_pop         sex  max_sentence
count   24206.0000   24206.0000    24206.0000   24206.000  24206.0000  24206.0000    24206.0000
mean     2012.4997    2015.4997        1.5499       0.344      0.5701      0.1311        9.3423
std         1.6764       1.6764        1.1075       0.475      0.4951      0.3375       11.6499
min      2010.0000    2013.0000        0.0000       0.000      0.0000      0.0000        0.8300
25%      2011.0000    2014.0000        1.0000       0.000      0.0000      0.0000        5.0000
50%      2012.0000    2015.0000        1.0000       0.000      1.0000      0.0000        5.0000
75%      2014.0000    2017.0000        2.0000       1.000      1.0000      0.0000       10.0000
max      2015.0000    2018.0000        4.0000       1.000      1.0000      1.0000       75.0000

---------------------------------------------------

# of Identified Numeric Values in "Object" columns:

Empty DataFrame
Columns: [Numeric values, Total Values, Percent]
Index: []

----------------------------

# of Identified Null Values:

                          Null values  Total Values  Percent
Column
yr_released                         0         24206      0.0
report_year                         0         24206      0.0
race_ethnicity                      0         24206      0.0
age_released                        0         24206      0.0
crime_class                         0         24206      0.0
crime_type                          0         24206      0.0
crime_subtype                       0         24206      0.0
release_type                        0         24206      0.0
super_dist                          0         24206      0.0
recidivist                          0         24206      0.0
target_pop                          0         24206      0.0
sex                                 0         24206      0.0
felony                              0         24206      0.0
types_combined                      0         24206      0.0
crime_class_type_subtype            0         24206      0.0
max_sentence                        0         24206      0.0

   yr_released  report_year race_ethnicity  age_released crime_class crime_type crime_subtype                  release_type super_dist  recidivist  target_pop  sex  felony    types_combined   crime_class_type_subtype  max_sentence
0         2010         2013          Black             1    C Felony    Violent       Robbery                        Parole        7JD           1           1    0    True   Violent_Robbery   C Felony_Violent_Robbery          10.0
1         2010         2013          White             1    D Felony   Property         Theft  Discharged – End of Sentence    unknown           1           0    0    True    Property_Theft    D Felony_Property_Theft           5.0
2         2010         2013          White             2    B Felony       Drug   Trafficking                        Parole        5JD           1           1    0    True  Drug_Trafficking  B Felony_Drug_Trafficking          50.0

In [ ]:
# for col in df.dtype=='object':
#     df[col] = df[col].astype('category')
# df.info()

### Encoding categorical columns using LabelLibrary()

In [ ]:
df.dtypes

In [ ]:
vars_label_encode = ['race_ethnicity', 'crime_class', 'crime_type', 'crime_subtype', 'super_dist', 'release_type','felony']

In [ ]:
from bs_ds.bamboo import LabelLibrary
lablib = LabelLibrary()
df_code = lablib.fit_transform(df,vars_label_encode)

df_code.head()

# EDA

In [ ]:
df_code.info()

In [ ]:
from bs_ds.bamboo import plot_hist_scat
plot_hist_scat(df_code,'recidivist')

In [ ]:
from bs_ds.bamboo import multiplot
multiplot(df_code.drop('report_year',axis=1))

## Comments on Data

- Everything looks good to go with the possible exception of recivisidm_year. 
- Keeping for now.

# Preprocessing for Modeling

In [ ]:
df.drop(['report_year'],axis=1,inplace=True)

In [ ]:
inspect_df(df,verbose=False)

In [ ]:
X = pd.get_dummies(df.drop(['recidivist','report_year','yr_released'],axis=1),drop_first=True)
y = df.recidivist

In [ ]:
X.info()

In [ ]:
df_code = []

In [ ]:
from bs_ds.bs_ds import scale_data, thick_pipe, compare_pipes, make_config_dict,make_random_config_dict

## Using bs_ds.bs_ds.thick_pipe 
1. Try scaling the features with different scalers for improves results
2. Use highest score to determine which models to try first.
2B. Test parameters compare_pipes using search = 'random', get best estimators from it
- When find the best parameters, use those to zero in on a smaller range to test again with compare pipes with smaller ranges of parameters
- Some of the models that are more computatinally intensive that may want to be tested in small batches or 1 at a time:
    - LogRegCV, XGB, GradBoost, AdaBoost

In [ ]:
# X.to_csv('X_one_hot.csv')

In [ ]:
# y.to_csv('y_recidivist.csv')

In [ ]:
n_comp = X.shape[1]-1

In [ ]:
# bookmark

In [ ]:
pipe_res = thick_pipe(X,y,n_comp,verbose=False);
# pipe_res = thick_pipe(X,y,verbose=False);

- Notes on thick pipe run # 1(ish)
    - Very similar results for most models(except dectree, randomfor)
    - Best score is 0.0.68 gradboost
- Notes on run # 2 (one-hot encoded everything but years and target)
    - Basically same performance, but xgb eeks out .6782
    
| ---- | ---- | ---- |
|0	LogReg: 0.6779|,1	SVC:	0.6698, 2	DecTree:	0.6318, 3	RandFor:	0.6391, 4	AdaBoost:	0.6697, 5	GradBoost:	0.6780, 6	xgb	0.6782

## Baseline Classifier

In [ ]:
stop

### Catboost

In [ ]:
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier, Pool

In [ ]:
df=pd.read_csv('recidivism_remapped_classes.csv')
df.drop('Unnamed: 0',axis=1,inplace=True)
df_cat = df.filter(regex='map',axis=1)
df_cat.head()

In [ ]:
inspect_df(df)

In [ ]:
X = df.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [ ]:
catboost_pool = Pool(X_train, y_train)

In [ ]:
model = CatBoostClassifier(iterations=3,
                          depth=4,
                          learning_rate = 1,
                          loss_function = 'CrossEntropy',
                          verbose=True,
                          task_type="GPU")

In [ ]:
# model.fit(X_train, y_train)
model.fit(catboost_pool)

In [ ]:
# import pickle
# filename = 'pickles/cat_boost.pickle'
# pickling_on = open(filename,'wb')
# pickle.dump(model,pickling_on)
# pickling_on.close()

In [ ]:
preds_class = model.predict(X_test)
preds_proba = model.predict_proba(X_test)

print("class = ", preds_class)
print("proba = ", preds_proba)

### Simple Decision Tree Classifier

In [ ]:
# from sklearn.tree import DecisionTreeClassifier
# tree_clf = DecisionTreeClassifier()

In [ ]:
# params={'max_depth':10}
# tree_clf.set_params(**params)

In [ ]:
# tree_clf.fit(X_train, y_train)

In [ ]:
def plot_feature_importances(model):
    n_features = X_train.shape[1]
    plt.figure(figsize=(8,8))
    plt.barh(range(n_features), model.feature_importances_, align='center') 
    plt.yticks(np.arange(n_features), X_train.columns.values) 
    plt.xlabel("Feature importance")
    plt.ylabel("Feature")

In [ ]:
# clf_tree.

In [ ]:
# plot_feature_importances(tree_clf)

In [ ]:
# from bs_ds.bs_ds import viz_tree
# viz_tree(tree_clf)

### Assessing Model Accuracy

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
# pred = tree_clf.predict(X_test)
# print(confusion_matrix(y_test,pred))
# print(classification_report(y_test, pred))
# print(accuracy_score(y_test,pred))

In [ ]:
# tree_clf.score(X_test, y_test)

## Bagged Trees

In [ ]:
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import  DecisionTreeClassifier
bagged_tree = BaggingClassifier(DecisionTreeClassifier(criterion='gini',max_depth=5), n_estimators=20, n_jobs=-1, bootstrap_features=True)

In [ ]:
bagged_tree.fit(X_train, y_train)

In [ ]:
bagged_tree.score(X_train,y_train)

In [ ]:
y_pred = bagged_tree.predict(X_test)
bagged_tree.score(X_test, y_test)

In [ ]:
stop

In [ ]:
from bs_ds.bs_ds import *

In [ ]:
# from bs_ds.bs_ds import tune_params_trees
config_dict = make_random_config_dict()
compare_pipes(X_train,y_train,X_test,y_test,config_dict)

## Random Forests

In [ ]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100, max_depth=5)
forest.fit(X_train, y_train)

In [ ]:
print(forest.score(X_train, y_train))
print(forest.score(X_test, y_test))

## Adding xgb, gbc

In [ ]:
import os
import sys
sys.path.append('C:\\Program\ Files\ \(x86\)\\Graphviz2.38\\bin')

In [ ]:
clf_xgb = xgboost.sklearn.XGBClassifier()
clf_gbc = GradientBoostingClassifier()

In [ ]:
clf_gbc.fit()

In [ ]:
plot_feature_importances(tree_clf)